<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/escreverCarta.css">
    <title>Email Form</title>
</head>
<body>
    <div class="email-form">
        <h1>Enviar Email</h1>
        <form method="POST" action="/escreverCarta">
            <div class="input-container">
                <label for="from">De:</label>
                <input type="email" id="from" name="from" required>
            </div>
            <div class="input-container">
                <label for="to">Para:</label>
                <input type="email" id="to" name="to" required>
            </div>
            <div class="input-container">
                <label for="subject">Assunto:</label>
                <input type="text" id="subject" name="subject" required>
            </div>
            <div class="input-container">
                <label for="date">Data:</label>
                <input type="date" id="date" name="date" required>
            </div>
            <div class="input-container">
                <label for="message">Mensagem:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
            </div>
            <input type="submit" name = "botao" value="enviar"></input>
        </form>
    </div>
</body>
</html>
